# Environment variables
.env

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (optional)
# *.pkl
# *.joblib
# *.h5

# Logs
*.log